<div class="exercises-row">
  <div class="exercises-filters">
    <ul>
      <li class="exercises-filters__selected" id="Muscles">Muscles</li>
      <li id="Body%20parts">Body parts</li>
      <li id="Equipment">Equipment</li>
    </ul>
  </div>
</div>

<div class="exercises exercises-row" id="exercises-container"></div>

<div class="exercises-row">
  <div class="exercises-pagination">
    <ul></ul>
  </div>
  <div class="exercises-row">
    <div class="exercise-details" id="exercise-details"></div>
  </div>
  <button type="button">WORKOUT</button>
</div>