<div class="exercises-row">
  <ul>
    <li>Muscles</li>
    <li>Body parts</li>
    <li>Equipment</li>
  </ul>
</div>

<div class="exercises exercises-row">
  <div class="exercises__col">
    <div class="exercises__item">
      <picture>
        <source srcset="
        ./img/exercises/desktop-1-1x.webp 1x, 
        ./img/exercises/desktop-1-2x.webp 2x, 
        ./img/exercises/desktop-1-3x.webp 3x" media="(min-width: 1024px)" type="image/webp" />

        <source srcset="
        ./img/exercises/desktop-1-1x.jpg 1x, 
        ./img/exercises/desktop-1-2x.jpg 2x, 
        ./img/exercises/desktop-1-3x.jpg 3x" media="(min-width: 1024px)" />

        <source srcset="
                ./img/exercises/tablet-1-1x.webp 1x, 
                ./img/exercises/tablet-1-2x.webp 2x, 
                ./img/exercises/tablet-1-3x.webp 3x" media="(min-width: 768px) and (max-width: 1023px)"
          type="image/webp" />

        <source srcset="
                ./img/exercises/tablet-1-1x.jpg 1x, 
                ./img/exercises/tablet-1-2x.jpg 2x, 
                ./img/exercises/tablet-1-3x.jpg 3x" media="(min-width: 768px) and (max-width: 1023px)" />

        <source srcset="
        ./img/exercises/mobile-1-1x.webp 1x, 
        ./img/exercises/mobile-1-2x.webp 2x, 
        ./img/exercises/mobile-1-3x.webp 3x" media="(max-width: 767px)" type="image/webp" />

        <source srcset="
        ./img/exercises/mobile-1-1x.jpg 1x, 
        ./img/exercises/mobile-1-2x.jpg 2x, 
        ./img/exercises/mobile-1-3x.jpg 3x" media="(max-width: 767px)" />

        <img src="./img/exercises/desktop-1-1x.jpg" alt="Опис зображення" />
      </picture>
      <div class="text-overlay">
        <h5>Abductors</h5>
        <p>Muscles</p>
      </div>
    </div>
  </div>

  <div class="exercises__col">
    <div class="exercises__item">
      <picture>
        <source srcset="
          ./img/exercises/desktop-2-1x.webp 1x, 
          ./img/exercises/desktop-2-2x.webp 2x, 
          ./img/exercises/desktop-2-3x.webp 3x" media="(min-width: 1024px)" type="image/webp" />

        <source srcset="
          ./img/exercises/desktop-2-1x.jpg 1x, 
          ./img/exercises/desktop-2-2x.jpg 2x, 
          ./img/exercises/desktop-2-3x.jpg 3x" media="(min-width: 1024px)" />

        <source srcset="
                ./img/exercises/tablet-2-1x.webp 1x, 
                ./img/exercises/tablet-2-2x.webp 2x, 
                ./img/exercises/tablet-2-3x.webp 3x" media="(min-width: 768px) and (max-width: 1023px)"
          type="image/webp" />

        <source srcset="
                ./img/exercises/tablet-2-1x.jpg 1x, 
                ./img/exercises/tablet-2-2x.jpg 2x, 
                ./img/exercises/tablet-2-3x.jpg 3x" media="(min-width: 768px) and (max-width: 1023px)" />

        <source srcset="
          ./img/exercises/mobile-2-1x.webp 1x, 
          ./img/exercises/mobile-2-2x.webp 2x, 
          ./img/exercises/mobile-2-3x.webp 3x" media="(max-width: 767px)" type="image/webp" />

        <source srcset="
          ./img/exercises/mobile-2-1x.jpg 1x, 
          ./img/exercises/mobile-2-2x.jpg 2x, 
          ./img/exercises/mobile-2-3x.jpg 3x" media="(max-width: 767px)" />

        <img src="./img/exercises/desktop-2-1x.jpg" alt="Опис зображення" />
      </picture>
      <div class="text-overlay">
        <h5>Abs</h5>
        <p>Muscles</p>
      </div>
    </div>
  </div>

  <div class="exercises__col">
    <div class="exercises__item">
      <picture>
        <source srcset="
                ./img/exercises/desktop-3-1x.webp 1x, 
                ./img/exercises/desktop-3-2x.webp 2x, 
                ./img/exercises/desktop-3-3x.webp 3x" media="(min-width: 1024px)" type="image/webp" />

        <source srcset="
                ./img/exercises/desktop-3-1x.jpg 1x, 
                ./img/exercises/desktop-3-2x.jpg 2x, 
                ./img/exercises/desktop-3-3x.jpg 3x" media="(min-width: 1024px)" />

        <source srcset="
                      ./img/exercises/tablet-3-1x.webp 1x, 
                      ./img/exercises/tablet-3-2x.webp 2x, 
                      ./img/exercises/tablet-3-3x.webp 3x" media="(min-width: 768px) and (max-width: 1023px)"
          type="image/webp" />

        <source srcset="
                      ./img/exercises/tablet-3-1x.jpg 1x, 
                      ./img/exercises/tablet-3-2x.jpg 2x, 
                      ./img/exercises/tablet-3-3x.jpg 3x" media="(min-width: 768px) and (max-width: 1023px)" />

        <source srcset="
                ./img/exercises/mobile-3-1x.webp 1x, 
                ./img/exercises/mobile-3-2x.webp 2x, 
                ./img/exercises/mobile-3-3x.webp 3x" media="(max-width: 767px)" type="image/webp" />

        <source srcset="
                ./img/exercises/mobile-3-1x.jpg 1x, 
                ./img/exercises/mobile-3-2x.jpg 2x, 
                ./img/exercises/mobile-3-3x.jpg 3x" media="(max-width: 767px)" />

        <img src="./img/exercises/desktop-3-1x.jpg" alt="Опис зображення" />
      </picture>
      <div class="text-overlay">
        <h5>Abductors</h5>
        <p>Muscles</p>
      </div>
    </div>
  </div>

  <div class="exercises__col">
    <div class="exercises__item">
      <picture>
        <source srcset="
          ./img/exercises/desktop-4-1x.webp 1x, 
          ./img/exercises/desktop-4-2x.webp 2x, 
          ./img/exercises/desktop-4-3x.webp 3x" media="(min-width: 1024px)" type="image/webp" />

        <source srcset="
          ./img/exercises/desktop-4-1x.jpg 1x, 
          ./img/exercises/desktop-4-2x.jpg 2x, 
          ./img/exercises/desktop-4-3x.jpg 3x" media="(min-width: 1024px)" />

        <source srcset="
                ./img/exercises/tablet-4-1x.webp 1x, 
                ./img/exercises/tablet-4-2x.webp 2x, 
                ./img/exercises/tablet-4-3x.webp 3x" media="(min-width: 768px) and (max-width: 1023px)"
          type="image/webp" />

        <source srcset="
                ./img/exercises/tablet-4-1x.jpg 1x, 
                ./img/exercises/tablet-4-2x.jpg 2x, 
                ./img/exercises/tablet-4-3x.jpg 3x" media="(min-width: 768px) and (max-width: 1023px)" />

        <source srcset="
          ./img/exercises/mobile-4-1x.webp 1x, 
          ./img/exercises/mobile-4-2x.webp 2x, 
          ./img/exercises/mobile-4-3x.webp 3x" media="(max-width: 767px)" type="image/webp" />

        <source srcset="
          ./img/exercises/mobile-4-1x.jpg 1x, 
          ./img/exercises/mobile-4-2x.jpg 2x, 
          ./img/exercises/mobile-4-3x.jpg 3x" media="(max-width: 767px)" />

        <img src="./img/exercises/desktop-4-1x.jpg" alt="Опис зображення" />
      </picture>
      <div class="text-overlay">
        <h5>Biceps</h5>
        <p>Muscles</p>
      </div>
    </div>
  </div>

  <div class="exercises__col">
    <div class="exercises__item">
      <picture>
        <source srcset="
          ./img/exercises/desktop-5-1x.webp 1x, 
          ./img/exercises/desktop-5-2x.webp 2x, 
          ./img/exercises/desktop-5-3x.webp 3x" media="(min-width: 1024px)" type="image/webp" />

        <source srcset="
          ./img/exercises/desktop-5-1x.jpg 1x, 
          ./img/exercises/desktop-5-2x.jpg 2x, 
          ./img/exercises/desktop-5-3x.jpg 3x" media="(min-width: 1024px)" />

        <source srcset="
                ./img/exercises/tablet-5-1x.webp 1x, 
                ./img/exercises/tablet-5-2x.webp 2x, 
                ./img/exercises/tablet-5-3x.webp 3x" media="(min-width: 768px) and (max-width: 1023px)"
          type="image/webp" />

        <source srcset="
                ./img/exercises/tablet-5-1x.jpg 1x, 
                ./img/exercises/tablet-5-2x.jpg 2x, 
                ./img/exercises/tablet-5-3x.jpg 3x" media="(min-width: 768px) and (max-width: 1023px)" />

        <source srcset="
          ./img/exercises/mobile-5-1x.webp 1x, 
          ./img/exercises/mobile-5-2x.webp 2x, 
          ./img/exercises/mobile-5-3x.webp 3x" media="(max-width: 767px)" type="image/webp" />

        <source srcset="
          ./img/exercises/mobile-5-1x.jpg 1x, 
          ./img/exercises/mobile-5-2x.jpg 2x, 
          ./img/exercises/mobile-5-3x.jpg 3x" media="(max-width: 767px)" />

        <img src="./img/exercises/desktop-5-1x.jpg" alt="Опис зображення" />
      </picture>
      <div class="text-overlay">
        <h5>Calves</h5>
        <p>Muscles</p>
      </div>
    </div>
  </div>

  <div class="exercises__col">
    <div class="exercises__item">
      <picture>
        <source srcset="
          ./img/exercises/desktop-6-1x.webp 1x, 
          ./img/exercises/desktop-6-2x.webp 2x, 
          ./img/exercises/desktop-6-3x.webp 3x" media="(min-width: 1024px)" type="image/webp" />

        <source srcset="
          ./img/exercises/desktop-6-1x.jpg 1x, 
          ./img/exercises/desktop-6-2x.jpg 2x, 
          ./img/exercises/desktop-6-3x.jpg 3x" media="(min-width: 1024px)" />

        <source srcset="
                ./img/exercises/tablet-6-1x.webp 1x, 
                ./img/exercises/tablet-6-2x.webp 2x, 
                ./img/exercises/tablet-6-3x.webp 3x" media="(min-width: 768px) and (max-width: 1023px)"
          type="image/webp" />

        <source srcset="
                ./img/exercises/tablet-6-1x.jpg 1x, 
                ./img/exercises/tablet-6-2x.jpg 2x, 
                ./img/exercises/tablet-6-3x.jpg 3x" media="(min-width: 768px) and (max-width: 1023px)" />

        <source srcset="
          ./img/exercises/mobile-6-1x.webp 1x, 
          ./img/exercises/mobile-6-2x.webp 2x, 
          ./img/exercises/mobile-6-3x.webp 3x" media="(max-width: 767px)" type="image/webp" />

        <source srcset="
          ./img/exercises/mobile-6-1x.jpg 1x, 
          ./img/exercises/mobile-6-2x.jpg 2x, 
          ./img/exercises/mobile-6-3x.jpg 3x" media="(max-width: 767px)" />

        <img src="./img/exercises/desktop-6-1x.jpg" alt="Опис зображення" />
      </picture>
      <div class="text-overlay">
        <h5>Cardiovascular System</h5>
        <p>Muscles</p>
      </div>
    </div>
  </div>

  <div class="exercises__col">
    <div class="exercises__item">
      <picture>
        <source srcset="
          ./img/exercises/desktop-7-1x.webp 1x, 
          ./img/exercises/desktop-7-2x.webp 2x, 
          ./img/exercises/desktop-7-3x.webp 3x" media="(min-width: 1024px)" type="image/webp" />

        <source srcset="
          ./img/exercises/desktop-7-1x.jpg 1x, 
          ./img/exercises/desktop-7-2x.jpg 2x, 
          ./img/exercises/desktop-7-3x.jpg 3x" media="(min-width: 1024px)" />

        <source srcset="
                ./img/exercises/tablet-7-1x.webp 1x, 
                ./img/exercises/tablet-7-2x.webp 2x, 
                ./img/exercises/tablet-7-3x.webp 3x" media="(min-width: 768px) and (max-width: 1023px)"
          type="image/webp" />

        <source srcset="
                ./img/exercises/tablet-7-1x.jpg 1x, 
                ./img/exercises/tablet-7-2x.jpg 2x, 
                ./img/exercises/tablet-7-3x.jpg 3x" media="(min-width: 768px) and (max-width: 1023px)" />

        <source srcset="
          ./img/exercises/mobile-7-1x.webp 1x, 
          ./img/exercises/mobile-7-2x.webp 2x, 
          ./img/exercises/mobile-7-3x.webp 3x" media="(max-width: 767px)" type="image/webp" />

        <source srcset="
          ./img/exercises/mobile-7-1x.jpg 1x, 
          ./img/exercises/mobile-7-2x.jpg 2x, 
          ./img/exercises/mobile-7-3x.jpg 3x" media="(max-width: 767px)" />

        <img src="./img/exercises/desktop-7-1x.jpg" alt="Опис зображення" />
      </picture>
      <div class="text-overlay">
        <h5>Delts</h5>
        <p>Muscles</p>
      </div>
    </div>
  </div>

  <div class="exercises__col">
    <div class="exercises__item">
      <picture>
        <source srcset="
          ./img/exercises/desktop-8-1x.webp 1x, 
          ./img/exercises/desktop-8-2x.webp 2x, 
          ./img/exercises/desktop-8-3x.webp 3x" media="(min-width: 1024px)" type="image/webp" />

        <source srcset="
          ./img/exercises/desktop-8-1x.jpg 1x, 
          ./img/exercises/desktop-8-2x.jpg 2x, 
          ./img/exercises/desktop-8-3x.jpg 3x" media="(min-width: 1024px)" />

        <source srcset="
                ./img/exercises/tablet-8-1x.webp 1x, 
                ./img/exercises/tablet-8-2x.webp 2x, 
                ./img/exercises/tablet-8-3x.webp 3x" media="(min-width: 768px) and (max-width: 1023px)"
          type="image/webp" />

        <source srcset="
                ./img/exercises/tablet-8-1x.jpg 1x, 
                ./img/exercises/tablet-8-2x.jpg 2x, 
                ./img/exercises/tablet-8-3x.jpg 3x" media="(min-width: 768px) and (max-width: 1023px)" />

        <source srcset="
          ./img/exercises/mobile-8-1x.webp 1x, 
          ./img/exercises/mobile-8-2x.webp 2x, 
          ./img/exercises/mobile-8-3x.webp 3x" media="(max-width: 767px)" type="image/webp" />

        <source srcset="
          ./img/exercises/mobile-8-1x.jpg 1x, 
          ./img/exercises/mobile-8-2x.jpg 2x, 
          ./img/exercises/mobile-8-3x.jpg 3x" media="(max-width: 767px)" />

        <img src="./img/exercises/desktop-8-1x.jpg" alt="Опис зображення" />
      </picture>
      <div class="text-overlay">
        <h5>Forearms</h5>
        <p>Muscles</p>
      </div>
    </div>
  </div>

  <div class="exercises__col">
    <div class="exercises__item">
      <picture>
        <source srcset="
          ./img/exercises/desktop-9-1x.webp 1x, 
          ./img/exercises/desktop-9-2x.webp 2x, 
          ./img/exercises/desktop-9-3x.webp 3x" media="(min-width: 1024px)" type="image/webp" />

        <source srcset="
          ./img/exercises/desktop-9-1x.jpg 1x, 
          ./img/exercises/desktop-9-2x.jpg 2x, 
          ./img/exercises/desktop-9-3x.jpg 3x" media="(min-width: 1024px)" />

        <source srcset="
                ./img/exercises/tablet-9-1x.webp 1x, 
                ./img/exercises/tablet-9-2x.webp 2x, 
                ./img/exercises/tablet-9-3x.webp 3x" media="(min-width: 768px) and (max-width: 1023px)"
          type="image/webp" />

        <source srcset="
                ./img/exercises/tablet-9-1x.jpg 1x, 
                ./img/exercises/tablet-9-2x.jpg 2x, 
                ./img/exercises/tablet-9-3x.jpg 3x" media="(min-width: 768px) and (max-width: 1023px)" />

        <source srcset="
          ./img/exercises/mobile-9-1x.webp 1x, 
          ./img/exercises/mobile-9-2x.webp 2x, 
          ./img/exercises/mobile-9-3x.webp 3x" media="(max-width: 767px)" type="image/webp" />

        <source srcset="
          ./img/exercises/mobile-9-1x.jpg 1x, 
          ./img/exercises/mobile-9-2x.jpg 2x, 
          ./img/exercises/mobile-9-3x.jpg 3x" media="(max-width: 767px)" />

        <img src="./img/exercises/desktop-9-1x.jpg" alt="Опис зображення" />
      </picture>
      <div class="text-overlay">
        <h5>Glutes</h5>
        <p>Muscles</p>
      </div>
    </div>
  </div>

  <div class="exercises__col">
    <div class="exercises__item">
      <picture>
        <source srcset="
          ./img/exercises/desktop-10-1x.webp 1x, 
          ./img/exercises/desktop-10-2x.webp 2x, 
          ./img/exercises/desktop-10-3x.webp 3x" media="(min-width: 1024px)" type="image/webp" />

        <source srcset="
          ./img/exercises/desktop-10-1x.jpg 1x, 
          ./img/exercises/desktop-10-2x.jpg 2x, 
          ./img/exercises/desktop-10-3x.jpg 3x" media="(min-width: 1024px)" />

        <source srcset="
                ./img/exercises/tablet-10-1x.webp 1x, 
                ./img/exercises/tablet-10-2x.webp 2x, 
                ./img/exercises/tablet-10-3x.webp 3x" media="(min-width: 768px) and (max-width: 1023px)"
          type="image/webp" />

        <source srcset="
                ./img/exercises/tablet-10-1x.jpg 1x, 
                ./img/exercises/tablet-10-2x.jpg 2x, 
                ./img/exercises/tablet-10-3x.jpg 3x" media="(min-width: 768px) and (max-width: 1023px)" />

        <source srcset="
          ./img/exercises/mobile-10-1x.webp 1x, 
          ./img/exercises/mobile-10-2x.webp 2x, 
          ./img/exercises/mobile-10-3x.webp 3x" media="(max-width: 767px)" type="image/webp" />

        <source srcset="
          ./img/exercises/mobile-10-1x.jpg 1x, 
          ./img/exercises/mobile-10-2x.jpg 2x, 
          ./img/exercises/mobile-10-3x.jpg 3x" media="(max-width: 767px)" />

        <img src="./img/exercises/desktop-10-1x.jpg" alt="Опис зображення" />
      </picture>
      <div class="text-overlay">
        <h5>Hamstrings</h5>
        <p>Muscles</p>
      </div>
    </div>
  </div>

  <div class="exercises__col">
    <div class="exercises__item">
      <picture>
        <source srcset="
          ./img/exercises/desktop-11-1x.webp 1x, 
          ./img/exercises/desktop-11-2x.webp 2x, 
          ./img/exercises/desktop-11-3x.webp 3x" media="(min-width: 1024px)" type="image/webp" />

        <source srcset="
          ./img/exercises/desktop-11-1x.jpg 1x, 
          ./img/exercises/desktop-11-2x.jpg 2x, 
          ./img/exercises/desktop-11-3x.jpg 3x" media="(min-width: 1024px)" />

        <source srcset="
                ./img/exercises/tablet-11-1x.webp 1x, 
                ./img/exercises/tablet-11-2x.webp 2x, 
                ./img/exercises/tablet-11-3x.webp 3x" media="(min-width: 768px) and (max-width: 1023px)"
          type="image/webp" />

        <source srcset="
                ./img/exercises/tablet-11-1x.jpg 1x, 
                ./img/exercises/tablet-11-2x.jpg 2x, 
                ./img/exercises/tablet-11-3x.jpg 3x" media="(min-width: 768px) and (max-width: 1023px)" />

        <source srcset="
          ./img/exercises/mobile-11-1x.webp 1x, 
          ./img/exercises/mobile-11-2x.webp 2x, 
          ./img/exercises/mobile-11-3x.webp 3x" media="(max-width: 767px)" type="image/webp" />

        <source srcset="
          ./img/exercises/mobile-11-1x.jpg 1x, 
          ./img/exercises/mobile-11-2x.jpg 2x, 
          ./img/exercises/mobile-11-3x.jpg 3x" media="(max-width: 767px)" />

        <img src="./img/exercises/desktop-11-1x.jpg" alt="Опис зображення" />
      </picture>
      <div class="text-overlay">
        <h5>Lats</h5>
        <p>Muscles</p>
      </div>
    </div>
  </div>

  <div class="exercises__col">
    <div class="exercises__item">
      <picture>
        <source srcset="
          ./img/exercises/desktop-12-1x.webp 1x, 
          ./img/exercises/desktop-12-2x.webp 2x, 
          ./img/exercises/desktop-12-3x.webp 3x" media="(min-width: 1024px)" type="image/webp" />

        <source srcset="
          ./img/exercises/desktop-12-1x.jpg 1x, 
          ./img/exercises/desktop-12-2x.jpg 2x, 
          ./img/exercises/desktop-1-3x.jpg 3x" media="(min-width: 1024px)" />

        <source srcset="
                ./img/exercises/tablet-12-1x.webp 1x, 
                ./img/exercises/tablet-12-2x.webp 2x, 
                ./img/exercises/tablet-12-3x.webp 3x" media="(min-width: 768px) and (max-width: 1023px)"
          type="image/webp" />

        <source srcset="
                ./img/exercises/tablet-12-1x.jpg 1x, 
                ./img/exercises/tablet-12-2x.jpg 2x, 
                ./img/exercises/tablet-12-3x.jpg 3x" media="(min-width: 768px) and (max-width: 1023px)" />

        <source srcset="
          ./img/exercises/mobile-12-1x.webp 1x, 
          ./img/exercises/mobile-12-2x.webp 2x, 
          ./img/exercises/mobile-12-3x.webp 3x" media="(max-width: 767px)" type="image/webp" />

        <source srcset="
          ./img/exercises/mobile-12-1x.jpg 1x, 
          ./img/exercises/mobile-12-2x.jpg 2x, 
          ./img/exercises/mobile-12-3x.jpg 3x" media="(max-width: 767px)" />

        <img src="./img/exercises/desktop-12-1x.jpg" alt="Опис зображення" />
      </picture>
      <div class="text-overlay">
        <h5>Levator Scapulae</h5>
        <p>Muscles</p>
      </div>
    </div>
  </div>
</div>

<div class="exercises-row">
  <ul>
    1
    2
  </ul>
</div>