<section class="quotes">
  <div class="quote-of-day">
    <div class="quote-icon-wrapper">
      <svg class="quote-icon" width="24" height="24">
        <!-- Іконка лапки -->
        <use href="./images/icons.svg#antenna"></use>
      </svg>
    </div>
    <div class="quote-wraper">
      <div class="quote-header">
        <h2 class="quote-title">Quote of the Day</h2>
        <div class="quote-icon-wrapper">
          <svg class="quote-icon" width="32" height="32">
            <!-- Іконка чоловічок -->
            <use href="./images/icons.svg#antenna"></use>
          </svg>
        </div>
      </div>
      <div class="quote">
        <p class="quote-text"></p>
        <p class="quote-author"></p>
      </div>
    </div>
  </div>
  <div class="quote-image">
    <img class="quote-image-img" src="" alt="Image of a question" />
  </div>
  <div class="quote-news">
    <div class="quote-news-icon-wrapper">
      <svg class="quote-news-icon" width="32" height="32">
        <!-- Іконка гантеля -->
        <use href="./images/icons.svg#antenna"></use>
      </svg>
    </div>
    <div class="quote-news-wraper">
      <div class="quote-news-header">
        <h2 class="quote-news-title">110 min</h2>
        <p class="quote-news-subtitle">Daily norm of sports</p>
      </div>
      <p class="quote-news-text"></p>
    </div>
  </div>
</section>
