<section class="quotes container">
  <!-- Quote -->
  <div class="quote-of-day container">
    <div class="quote-icon-wrapper">
      <svg class="quote-icon" width="32" height="32">
        <!-- Icon Runner -->
        <use href="../img/icons/quote.svg#icon-runner"></use>
      </svg>
    </div>
    <div class="quote-wraper">
      <div class="quote-header">
        <h2 class="quote-title">Quote of the Day</h2>
        <!-- <div class="quote-icon-wrapper"> -->
        <svg class="quote-icon" width="24" height="24">
          <!-- Icon Commas -->
          <use href="../img/icons/quote.svg#icon-commas"></use>
        </svg>
        <!-- </div> -->
      </div>
      <div class="quote">
        <p class="quote-text">
          A lot of times I find that people who are blessed with the most talent
          don't ever develop that attitude, and the ones who aren't blessed in
          that way are the most competitive and have the biggest heart.
        </p>
        <p class="quote-author">Tom Brady</p>
      </div>
    </div>
  </div>
  <!-- End Quote -->

  <div class="quote-image">
    <!-- Picture -->
    <picture class="quote-image-img">
      <!-- Desktop -->
      <source
        media="(min-width: 1200px)"
        srcset="
          ../img/quote/desktop-1x.webp 1x,
          ../img/quote/desktop-2x.webp 2x,
          ../img/quote/desktop-3x.webp 3x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 1200px)"
        srcset="
          ../img/quote/desktop-1x.png 1x,
          ../img/quote/desktop-2x.png 2x,
          ../img/quote/desktop-3x.png 3x
        "
      />
      <!-- Tablet -->
      <source
        media="(min-width: 768px)"
        srcset="
          ../img/quote/tablet-1x.webp 1x,
          ../img/quote/tablet-2x.webp 2x,
          ../img/quote/tablet-3x.webp 3x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ../img/quote/tablet-1x.png 1x,
          ../img/quote/tablet-2x.png 2x,
          ../img/quote/tablet-3x.png 3x
        "
      />
      <!-- Mobile -->
      <source
        media="(max-width: 767px)"
        srcset="
          ../img/quote/mobile-1x.webp 1x,
          ../img/quote/mobile-2x.webp 2x,
          ../img/quote/mobile-3x.webp 3x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ../img/quote/mobile-1x.png 1x,
          ../img/quote/mobile-2x.png 2x,
          ../img/quote/mobile-3x.png 3x
        "
      />
      <img
        src="../img/quote/mobile-1x.png"
        alt="women sportswear taking break from workout"
        loading="lazy"
      />
    </picture>
    <!-- End Picture -->
  </div>
  <!-- News -->
  <div class="quote-news container">
    <div class="quote-icon-wrapper">
      <svg class="quote-icon" width="32" height="32">
        <!-- Icon Gantel -->
        <use href="../img/icons/quote.svg#icon-gantel"></use>
      </svg>
    </div>
    <div class="quote-news-wraper">
      <div class="quote-news-header">
        <h2 class="quote-news-title">110 min</h2>
        <p class="quote-news-subtitle">Daily norm of sports</p>
      </div>
      <p class="quote-news-text">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day? While it might seem like a high number to hit,
        dedicating 110 minutes daily to sporting activities may offer
        unparalleled benefits to physical health, mental well-being, and overall
        quality of life.
      </p>
    </div>
  </div>
  <!-- End News -->
</section>
