:root {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background: #f4f4f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #242424;
  --white-color: #f4f4f4;
  --text-secondary-color: rgba(244, 244, 244, 0.6);
  --title-color: rgba(244, 244, 244, 0.4);
  --rating-color: rgba(244, 244, 244, 0.2);
  --modal-backdrop: rgba(4, 4, 4, 0.4);
  --accent-color: #eea10c;
  --tran-fast: 250ms ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

button {
  border: 1px solid #f4f4f4;
  border-radius: 30px;
  padding: 12px 24px;
}

button:hover {
  color: #f4f4f4;
  background: #242424;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  outline: 0;
  outline-offset: 0;
  opacity: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  pointer-events: none;
  overflow: hidden;
}
