@import '../../node_modules/modern-normalize/modern-normalize.css';

/* src/css/hero.css */

/* Основні стилі */
body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #242424;
  }
  
  .HeroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f9;
    text-align: center;
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  
  .hero-title {
    font-size: 74px;
    font-weight: bold;
    line-height: 74px;
    letter-spacing: -0.02em;
    color: #242424;
    margin: 0;
    max-width: 639px;
    opacity: 0;
    transform: translateY(-50px);
  }
  
  .hero-title span {
    font-style: italic;
  }
  
  .hero-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #242424;
    max-width: 528px;
    margin: 10px 0 20px;
  }
  
  .HeroTags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    max-width: 333px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .tag {
    width: 72px;
    height: 26px;
    background-color: #ffffff;
    color: #242424;
    font-size: 0.8rem;
    border: 1px solid #242424;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .tag.active {
    background-color: #242424;
    color: #ffffff;
  }
  
  .HeroImage {
    width: 100%;
    max-width: 335px;
    height: 460px;
    background-color: #ffffff;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 20px;
  }
  
  .HeroImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .HeroImage img:hover {
    transform: scale(1.05);
  }
  
  /* Адаптивність для планшетної версії */
  @media (min-width: 768px) and (max-width: 1023px) {
    .hero-title {
      font-size: 74px;
      max-width: 639px;
    }
  
    .hero-text {
      max-width: 528px;
    }
  
    .HeroImage {
      max-width: 704px;
      height: 550px;
      border-radius: 60px;
    }
  
    .HeroTags {
      max-width: 396px;
      height: 32px;
    }
  
    .tag {
      width: 86px;
      height: 32px;
      font-size: 0.9rem;
    }
  }
  
  /* Адаптивність для мобільної версії */
  @media (max-width: 767px) {
    .hero-title {
      font-size: 38px;
      line-height: 44px;
      max-width: 335px;
    }
  
    .hero-text {
      font-size: 14px;
      line-height: 18px;
      max-width: 335px;
    }
  }
  