@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/********************** Exercises section **********************/
.exercises-row{
  display: flex;
  flex-wrap: wrap;
  margin-inline: -0.5rem;
}

.exercises-row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-inline: 0.5rem;
}

.exercises__col{
  flex: 0 0 auto;
  width: 100%;
  margin-top: 2rem;
}

.exercises-filters{
  display: flex;
  color: #24242499;
}

.exercises-filters ul{
  display: flex;
}

.exercises-filters li{
  padding: 8px 0px;
  margin: 0 20px 0 0;
  cursor: pointer;
}

.exercises-filters li.exercises-filters__selected{
  color: var(--color-black);
  position: relative;
  cursor: default;
}

.exercises-filters li.exercises-filters__selected::after{
  content: '';
  display: block;
  position: absolute;
  background-color: var(--color-black);
  height: 4px;
  border-radius: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
}

.exercises__item{
  position: relative;
  border-radius: 24px;
  overflow: hidden;
}

.exercises__item picture,
.exercises__item img {
  display: block;
  width: 100%;
  height: auto;
}

.exercises__item .text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background-color: rgba(17, 17, 17, 0.5); /* напівпрозорий фон для контрасту */
}

.exercises__item .text-overlay h5 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-bottom: 6px;
  font-weight: 400;
  color: #F4F4F4;
  text-transform: capitalize;
}

.exercises__item .text-overlay p{
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: rgba(244, 244, 244, 0.4);
}

.exercises-pagination{
  margin-top: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #D4D4D4;
  display: flex;
  justify-content: center;
  font-weight: 400;
}

.exercises-pagination ul{
  display: flex;
}

.exercises-pagination li{
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid transparent;
  cursor: pointer;
}

.exercises-pagination li.exercises-pagination__current{
  color: var(--color-black);
  border-color: var(--color-black);
  cursor: default;
}

@media (min-width: 768px) {
  .exercises__col{
    width: 33.33333333%;
  }

  .exercises__item .text-overlay h5 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1440px) {
  .exercises-filters{
    justify-content: flex-end;
  }
}
/********************** End of Exercises section **********************/

.exercise-item {

  width: 345px;
  height: 141px;
  list-style: none;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.exercise-details__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exercise-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-workout {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
}

.exercise-rating {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.exercise-rating span {
  color: #f9a825;
  margin-left: 2px;
}

.btn-start {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.exercise-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.exercise-info{
  display: flex;
  flex-direction: row;
  gap:  10px;
}
.exercise-info p {
  margin: 2px 0;
  font-size: 0.9rem;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;


}
.exercise-info-title{
  font-size: 12px;
  line-height: 18px;
  color: rgba(36, 36, 36, 0.4)
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: '..';
  display: inline-block;
  max-width: 180px; 
  vertical-align: bottom;
}
