/* #region Main */
body:has(.menu.is-open) {
  overflow: hidden;
}

.menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #12141766;

  pointer-events: none;
  opacity: 0;

  transition: opacity var(--animation) var(--animation-delay);
  z-index: 999;
}

.menu-backdrop:has(.menu.is-open) {
  transition: opacity var(--animation);
  opacity: 1;
  pointer-events: auto;

  @media screen and (min-width: 768px) {
    display: none;
    pointer-events: none;
  }
}
.close-btn {
  margin: 0;
  padding: 0;

  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;

  color: var(--color-white);
  cursor: pointer;
}

.close-btn-icon {
  color: var(--color-grey);
  width: 100%;
  height: 100%;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  width: 210px;
  height: 100dvh;

  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;

  background-color: var(--color-black);
  transform: translateX(101%);
  transition: transform var(--animation),
    opacity var(--animation) var(--animation-delay);
}
.menu.is-open {
  opacity: 1;
  transform: translateX(0);
  transition: transform var(--animation), opacity var(--animation);
}
/* #endregion Main */

/* #region Navigation */
.menu > .nav-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  color: var(--color-grey);
  background-color: var(--color-black);
}

.nav-item {
  padding: 0;
}

.menu .nav-link {
  display: block;
  padding: 5px 0;
  color: var(--color-white);
  transition: transform var(--animation);
}

.menu .nav-link:hover,
.menu .nav-link:focus {
  transform: scale(1.05) translateY(-1px);
}

.menu .nav-link.active {
  color: var(--color-grey);
  background-color: var(--color-black);
}
/* #endregion Navigation */

/* #region Socials */
.menu > .soc-list {
  margin: 0;
  padding: 0;

  display: flex;
  gap: 12px;
}

.menu .soc-item {
  border: 1px solid 1px var(--color-grey);
  transition: var(--trns);
  transition-property: background-color;
}
.menu .soc-item:hover,
.menu .soc-item:focus {
  background-color: var(--color-grey);
}

.menu .soc-link .icon {
  fill: var(--color-grey);
  transition: var(--trns);
  transition-property: fill;
}
.menu .soc-link:hover .icon,
.menu .soc-link:focus .icon {
  fill: var(--color-black);
}
/* #endregion Socials */
